user_uuid="7b1918d1-26b6-4291-875b-ae8be92a7b92"
bucket_name="7hhuph2rmoiips7exubpp7j7e1bb3qou"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=2